.passwordStrength {
  background-color: var(--password-str-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.passwordStrength h4 {
  color: var(--password-str-title);
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}

.passwordStrengthText {
  color: var(--password-str-text);
  font-size: clamp(1.8rem, 4vw, 2.4rem);
}

.meterContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.passwordStrengthMeter {
  display: flex;
  gap: 0.7rem;
}

.passwordStrengthMeter > div {
  width: 10px;
  height: 28px;
  background-color: transparent;
  border: 2px solid var(--white);
}

.passwordStrengthMeter[data-strength='1'] .meterBarOne {
  background-color: var(--password-very-weak-bar);
  border: 2px solid var(--password-very-weak-bar);
}

.passwordStrengthMeter[data-strength='2'] .meterBarOne,
.passwordStrengthMeter[data-strength='2'] .meterBarTwo {
  background-color: var(--password-weak-bar);
  border: 2px solid var(--password-weak-bar);
}

.passwordStrengthMeter[data-strength='3'] .meterBarOne,
.passwordStrengthMeter[data-strength='3'] .meterBarTwo,
.passwordStrengthMeter[data-strength='3'] .meterBarThree {
  background-color: var(--password-medium-bar);
  border: 2px solid var(--password-medium-bar);
}

.passwordStrengthMeter[data-strength='4'] .meterBarOne,
.passwordStrengthMeter[data-strength='4'] .meterBarTwo,
.passwordStrengthMeter[data-strength='4'] .meterBarThree,
.passwordStrengthMeter[data-strength='4'] .meterBarFour {
  background-color: var(--password-strong-bar);
  border: 2px solid var(--password-strong-bar);
}

@media screen and (min-width: 768px) {
  .passwordStrength {
    padding: 2rem 3rem;
  }
}
