.password-display {
  background-color: var(--password-display-background);
  display: flex;
  justify-content: space-between;
  padding: clamp(1em, 5vw, 1.5em);
}

.password-display__text {
  font-size: clamp(2.4rem, 5vw, 3.2rem);
}
