.passwordDisplay {
  background-color: var(--password-display-background);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.passwordText {
  font-size: clamp(2.4rem, 4.5vw, 3.2rem);
}

.button {
  color: var(--neon-green);
}

.button:hover {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .passwordDisplay {
    padding: 1.8rem 3rem;
  }

  .copyImage {
    height: 2.5rem;
    width: 2.25rem;
  }
}
