.passwordDisplay {
  background-color: var(--password-display-background);
  display: flex;
  justify-content: space-between;
  padding: clamp(1em, 2.5vw, 1.5em);
}

.passwordText {
  font-size: clamp(2.4rem, 2.5vw, 3.2rem);
}

.copyImage {
  width: 1.75rem;
  height: 2rem;
}
