.passwordForm {
  background-color: var(--password-form-background);
  margin-block-start: 1.5rem;
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form > *:not(:last-child) {
  margin-block-end: 2.8rem;
}

.form > *:nth-of-type(3) {
  margin-bottom: 2rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button {
  background-color: var(--gen-button-background);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-style: inherit;
  font-family: 'JetBrains Mono', monospace;
  padding: 1em 0;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}

.button:hover {
  background-color: transparent;
  outline: 1px solid var(--gen-button-background);
  color: var(--gen-button-background);
}

.button:disabled:hover {
  background-color: var(--gen-button-background);
  outline: none;
  color: #1010104D;
}

.button span {
  margin-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .passwordForm {
    padding: 2.5rem 3.2rem;
  }

  .form > *:not(:last-child) {
    margin-block-end: 3.4rem;
  }

  .checkboxContainer {
    gap: 1.75rem;
  }

  .passwordForm {
    margin-block-start: 2.5rem;
  }
}
