.passwordForm {
  background-color: var(--password-form-background);
  margin-block-start: 1.5rem;
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form > *:not(:last-child){
  margin-block-end: 2rem;
}

.button {
  background-color: var(--gen-button-background);
}
