:root {
  --dark-gray: #24232c;
  --very-dark-gray: #18171f;
  --black: #08070b;
  --grey: #817d92;
  --white: #e6e5ea;
  --neon-green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;

  --background-color: var(--black);
  --light-text-color: var(--white);
  --password-display-background: var(--dark-gray);
  --password-form-background: var(--dark-gray);

  --gen-button-background: var(--neon-green);
  --slider-bar: var(--very-dark-gray);
  --slider-active-bar: var(--neon-green);
  --slider-handle: var(--white);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.6rem;
  height: 100%;
  position: relative;
  background-color: var(--background-color);
  color: var(--light-text-color);
  -webkit-font-smoothing: antialiased;
}
img,
svg,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}
input {
  font-family: inherit;
  border: none;
}
ul {
  list-style: none;
}
button {
  background: none;
  border: none;
}
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: min(90%, 54rem);
}
